

* {
  box-sizing: border-box;
}

html {
  background: #000;
  color: #fff;

}

a {
  color: #fff;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

article {
  padding: 3vw 5vw 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header svg {
  fill: white;
  height: 20px;
}

section {
  margin: 14vw 0 14vw;
}
h1 {
  font-size: 5vw;
  font-weight: 400;
}
p,
section.text {
  max-width: 400px;
  font-size: 16px;
}
.gridgrid {
  width: 100%;
  height: auto;
  
  display: flex;
  flex-wrap: wrap;
  
}
.Placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height:400px;
  margin: 0 0 20px 20px;
}

.ScrollScene,
.ViewportScrollScene {
  outline: 1px dashed rgba(255, 255, 255, 0.33);
  position: relative;
}
.ScrollScene:after,
.ViewportScrollScene:after {
  content: 'ScrollScene';
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
}

.ViewportScrollScene:after {
  content: 'ViewportScrollScene';
}
